{% extends 'base.html' %}
{% load auth_filters %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Login</h1>
    </div>
    <div class="form-container">
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
    <div class="col-md-6 offset-md-3">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                {{ error}}
            {% endfor %}
            {{ form.username.errors }}
            <div class="row g-3">
                <div class="col-sm">
                    {{ form.username }}
                </div>
                <div class="col-sm">
                    {{ form.password }}
                </div>
                <div class="col-sm-2">
                    <input type="submit" class="form-control" value="login">
                    <input type="hidden" name="next" value="{{ next }}">
                </div>
                </div>
        </form>
    </div>
    </div>
{% endblock %}