{% extends 'base.html' %}
{% load auth_filters %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Login</h1>
    </div>
    <div class="form-container">
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <span class="form__error">{{ error}}</span>
                <br>
            {% endfor %}
            <table>
            <tr>
                {{ form.username.errors }}
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
{% endblock %}