{% extends 'base.html' %}
{% load auth_filters %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Login</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <span class="form__error">{{ error}}</span>
                <br>
            {% endfor %}
            <div class="form__group">
                <div class="form__field-group">
                    {{ form.as_p }}
                </div>
            </div>
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Login</button>
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>
    </div>
{% endblock %}